html {
    scroll-behavior: smooth;
  }
body {
    background-image: url();
}

header {
    background-color: dimgrey;
    display: flex;
    padding: 0 1%;
    align-items: center;
    justify-content: space-between;
    
    box-shadow: 2px 2px 7px;
}

nav{
    font-size: 20px;
    padding: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

nav ul { 
    display: flex;
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
    
    
}
nav ul :hover {
    background-color: aliceblue;
    color: black;
    transition: 0.3s;
    border-radius: 50px;
    
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: aliceblue;

}


h2 {
    text-align: center;
    font-family: sans;
    font-size: 45px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

hr {
    box-shadow: inset;
}

#Inicio h3 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;

}
#Inicio p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}

#inicio-orden{
    display: flex;
    gap: 50px;
    

}
#descripcion-inicio h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: left;
}
#descripcion-inicio p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

section {
    padding: 3% 2%;
    margin:  0;
}

#orden-sobre-mi {
    display: flex;
    
}
#sobre-mi article {
    padding: 50px 0;
    margin: 0 20px;
}
.h3-sobre-mi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}
.p-sobre-mi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#Proyectos {
    display: flex;
    gap: 1%;
    
}
#Proyectos article {
    border-style: ridge;
    padding: 1%;
}

#Skills {
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    gap: 20px;

}
#imagenes-skills {
    
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    grid-column: span 2;
}

#imagenes-skills img:hover {
    transform: scale(1.2);
}

#Skills h2 {
    grid-column: span 2;   
}
#Skills h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}